<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo-mercado-liebre.svg">
    <title> Mercado Librex</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header class="header">


        <img class="header-img-ml" src="img/logo-mercado-liebre.svg" alt="">
        </div>

        <div class="form-search">
            <form action="#">
                <input type="text" class="form-search-input" placeholder="Buscar productos, marcas" name="search">
                <button class="form-search-input-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <p class="com-cuo"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas sin tarjeta de credito</p>

        <nav class="nav-items">
            <ul class="nav-links-left">
                <li><a href="#">ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li class="ayuda"><a href="#">Ayuda</a></li>
            </ul>

            <ul class="nav-links-right">
                <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <section class="banner">
        <img src="img/img-home-banner.jpg" alt="">
    </section>
    <main>
                        <h2 class="ultima-visita-title" >Basado en tu ultima visita</h2>
        <section class="ultima-visita">
            

            <article class="prod-ult-vis-card">

                <div class="card-img">
                    <img src="img/img-cafetera-moulinex.jpg" alt="">
                </div>

                <div class="card-info">
                    <i class="fas fa-truck"></i>
                    <h3 class="card-info-price">$6.770</h3>
                    <p class="card-info-price-ofert">40% OFF</p>
                    <h2 class="card-info-price-ofert-description">Cafetera Moulinex</h2>
                </div>
            </article>

            <article class="prod-ult-vis-card">

                <div class="card-img">
                    <img src="img/img-macbook-pro-2019.jpg" alt="">
                </div>

                <div class="card-info">
                    <i class="fas fa-truck"></i>
                    <h3 class="card-info-price">$230.000</h3>
                    <p class="card-info-price-ofert">20% off</p>
                    <h2 class="card-info-price-ofert-description">MacBook Pro 2019</h2>
                </div>
            </article>

            <article class="prod-ult-vis-card">

                <div class="card-img">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="">
                </div>

                <div class="card-info">
                    <i class="fas fa-truck"></i>
                    <h3 class="card-info-price">$70.500</h3>
                    <p class="card-info-price-ofert">10% off</p>
                    <h2 class="card-info-price-ofert-description">Samsung Galaxy S10</h2>
                </div>
            </article>


            <article class="prod-ult-vis-card">

                <div class="card-img">
                    <img src="img/img-tv-samsung-smart.jpg" alt="">
                </div>

                <div class="card-info">
                    <i class="fas fa-truck"></i>
                    <h3 class="card-info-price">$23.200</h3>
                    <p class="card-info-price-ofert">5% off</p>
                    <h2 class="card-info-price-ofert-description">SmartTv Samsung 43"</h2>
                </div>
            </article>

        </section>
                <h2 class="ultima-visita-title" >ofertas</h2>
        <section class="ultima-visita">
            

            <article class="prod-ult-vis-card">

                <div class="card-img">
                    <img src="img/img-cafetera-moulinex.jpg" alt="">
                </div>

                <div class="card-info">
                    <i class="fas fa-truck"></i>
                    <h3 class="card-info-price">$6.770</h3>
                    <p class="card-info-price-ofert">40% OFF</p>
                    <h2 class="card-info-price-ofert-description">Cafetera Moulinex</h2>
                </div>
            </article>

            <article class="prod-ult-vis-card">

                <div class="card-img">
                    <img src="img/img-macbook-pro-2019.jpg" alt="">
                </div>

                <div class="card-info">
                    <i class="fas fa-truck"></i>
                    <h3 class="card-info-price">$230.000</h3>
                    <p class="card-info-price-ofert">20% off</p>
                    <h2 class="card-info-price-ofert-description">MacBook Pro 2019</h2>
                </div>
            </article>

            <article class="prod-ult-vis-card">

                <div class="card-img">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="">
                </div>

                <div class="card-info">
                    <i class="fas fa-truck"></i>
                    <h3 class="card-info-price">$70.500</h3>
                    <p class="card-info-price-ofert">10% off</p>
                    <h2 class="card-info-price-ofert-description">Samsung Galaxy S10</h2>
                </div>
            </article>

            <article class="prod-ult-vis-card">

                <div class="card-img">
                    <img src="img/img-tv-samsung-smart.jpg" alt="">
                </div>

                <div class="card-info">
                    <i class="fas fa-truck"></i>
                    <h3 class="card-info-price">$23.200</h3>
                    <p class="card-info-price-ofert">5% off</p>
                    <h2 class="card-info-price-ofert-description">SmartTv Samsung 43"</h2>
                </div>
            </article>

        </section>

    </main>

    <footer class="footer">

        <section class="footer-creditcard">
            <div class="icon-creditcard"><i class="fas fa-credit-card"></i></div>
            <h2> Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="footer-shipping">
            <div class="icon-shipping"><i class="fas fa-gift"></i></div>
            <h2> Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <sectionc class="footer-assured">

            <div class="icon-shield"><i class="fas fa-user-shield"></i></div>
            <h2> Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>

            <section class="footer-copy">
                <h2> Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            </section>


    </footer>

</body>

</html>