<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo-mercado-liebre.svg">
    <title> Mercado Librex</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header class="header">


        <img class="header-img-ml" src="img/logo-mercado-liebre.svg" alt="">
        </div>

        <div class="form-search">
            <form action="#">
                <input type="text" class="form-search-input" placeholder="Buscar productos, marcas" name="search">
                <button class="form-search-input-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <p class="com-cuo"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas sin tarjeta de credito</p>

        <nav class="nav-items">
            <ul class="nav-links-left">
                <li><a href="#">ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li class="ayuda"><a href="#">Ayuda</a></li>
            </ul>

            <ul class="nav-links-right">
                <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
            <section>
                <form action="#" width="305px">
                    <!-- userdata -->
    
                    <input class="forms-userData-inputs" type="text" name="username" placeholder="Nombre de usuario" required>

                    <input class="forms-userData-inputs" type="password" name="password" placeholder="Contraseña" required>

                    <!-- contraseña -->

                    <input type="button" class="button" value="Enviar">
                    
                </div>

        </section>


    </main>

    <footer class="footer">

        <section class="footer-creditcard">
            <div class="icon-creditcard"><i class="fas fa-credit-card"></i></div>
            <h2> Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="footer-shipping">
            <div class="icon-shipping"><i class="fas fa-gift"></i></div>
            <h2> Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <sectionc class="footer-assured">

            <div class="icon-shield"><i class="fas fa-user-shield"></i></div>
            <h2> Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>

            <section class="footer-copy">
                <h2> Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            </section>


    </footer>

</body>

</html>