<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo-mercado-liebre.svg">
    <title> Mercado Librex Registro</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>

<body class="register-forms-body">
    <header></header>
    <main class="form">

        <section>
            <form action="#" width="305px">
                <!-- userdata -->
                <legend class="forms-data-titles">Datos del usuario</legend>

                <input class="forms-userData-inputs" type="text" name="nombre" placeholder="Nombre y apellido" required>

                <input class="forms-userData-inputs" type="text" name="username" placeholder="Nombre de usuario" required>

                <input class="forms-userData-inputs" type="text" name="e-mail" placeholder="E-mail" required>

                <!-- birthdata -->

                <legend class="forms-data-titles">Fecha de nacimiento</legend>

                <input class="forms-birthData-inputs" type="date" name="dateOfBirth"> <i class="fas fa-calendar-alt"></i>

                <input class="forms-birthData-inputs" type="text" name="domicilio" placeholder="domicilio">

                <!-- userprofile -->


                <legend class="forms-data-titles">Perfil del Usuario</legend>

                <section class="forms-userProfile-HTZL-radio-imputs">

                    <label class="forms-userProfile-label" name="userprofile-b" for="userprofile">
                    <input class="forms-userProfile-inputs" type="radio" name="userprofile">Comprador</label>

                    <label class="forms-userProfile-label" name="userprofile-s" for="userprofile">
                    <input class="forms-userProfile-inputs" type="radio" name="userprofile">Vendedor</label>
                    
                </section>

                <!-- intereses -->

                <legend class="forms-data-titles">intereses</legend>

                <section>

                <div class="forms-intereses-inputs-aling">
                <input class="forms-intereses-inputs" type="checkbox" for="intereses" name="intereses" value="electro">
                <label class="forms-intereses-inputs-label" for="intereses">Electro</label></div>

                <div class="forms-intereses-inputs-aling">
                <input class="forms-intereses-inputs" type="checkbox" for="intereses" name="intereses" value="moda">
                <label class="forms-intereses-inputs-label" for="intereses">Moda</label></div>

                <div class="forms-intereses-inputs-aling">
                <input class="forms-intereses-inputs" type="checkbox" for="intereses" name="intereses" value="hogar">
                <label class="forms-intereses-inputs-label" for="intereses">Hogar</label></div>

                <div class="forms-intereses-inputs-aling">
                <input class="forms-intereses-inputs" type="checkbox" for="intereses" name="intereses" value="jugueteria">
                <label class="forms-intereses-inputs-label" for="intereses">Jugueteria</label></div>

                <div class="forms-intereses-inputs-aling">
                <input class="forms-intereses-inputs" type="checkbox" for="intereses" name="intereses" value="vida sana">
                <label class="forms-intereses-inputs-label" for="intereses">Vida sana</label></div>

                </section>

            </form>
        </section>

    </main>
</body>

</html>

